* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f7f7f7;
}

main {
  flex-grow: 1;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: #fff;
}

.logo {
  font-size: 1.5rem;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 1rem;
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;  
}

nav li:hover {
  color: #c7c7c7;
}